
nav{
	background: #20195f ;
	color: white;
	background-attachment: fixed;
}



/* Barra de navegação
-----------------------------*/
nav.navbar-transparente {
	padding: 15px 0px;
	
	background: rgba(0,0,0,0.6);
	background-color: #20195F;
	color: white;
}

.navbar-dark .navbar-nav .nav-link {
	color: white ;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: #9bf0e1;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,1);
}

.tam-texto{
	font-size: 1.5rem;
}

.divisor {
	width: 100px;
	background: rgba(0, 0, 0, 0);
	margin: 12px 15px;
}

.logo{
	display: none;
}









/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767.98px) {
	.logo {
		display: inline-block;
		
		padding-top: 0px;
		margin-top: 0px;
	}
	
}
@media (min-width: 767.98px) {
	.divisor{
		
		width: 100px;
	}
}