.header{
    margin: auto;
 width: 198px;
 height: 28px;
 left: 330px;
 top: 39px;
 position: relative;
 background: #0E389C;
 }

 .textHeader{
    position: absolute;
    width: 124px;
    height: 30px;
    left: 369px;
    top: 34px;
    
    font-family: 'Poppins';
  
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;}