@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;700&display=swap');

* {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}

.mainContainer{
    width: 100%;
    height: 100%;
   
}

.mainContainer{
    width: 100%;
    height: 620px;
    top: 40px;
    margin-left: 0%;
    height: 5%;
}

.title {
    position: absolute;
    width: 530.38px;
    height: 136px;
    left: 39.95px;
    top: 458px;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 58px;
    color: white;
}

.textHeader {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;

    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.header{
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 7%;
    width: 24%;
    height: 10%;
    margin-bottom: 10%;
    background: #0E389C;
}

.textContainer{
    margin: auto;
    margin-top: 3%;
    text-align: justify;
    display:flex;
    padding: 1rem;
    
    width: 50%;
    height: 50%;
}

.blueContainer{
    margin: auto;
    margin-top: 3%;
    text-align: justify;
    display: flex;
    width: 50%;
    
    background: #6A81BA42;
    
    padding: 2rem;
    
}

.stadium{
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
    display:flex;
    width: 50%;
    
    background: #6A81BA42;
    
    padding: 2rem;
    
}

.stadium{
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
    display:flex;
    margin-top: 2%;
    margin-bottom: 1%;
    height: 50%;
}

.text{
    font-size: 3rem;
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
}
.bottomTextContainer{
    margin: auto;
    justify-content: center;
    margin-left: 25%;
}

.bottomText{
    font-size: 2rem;
    font-weight: 300;
    line-height: 30px;
    
}