@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;700&display=swap');

* {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}

.mainContainer{
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.image{
    margin-top: 3%;
    width: 100%;
    height: 620px;
    top: 40px;
    margin-left: 0px;
}

.title {
    position: absolute;
    width: 530.38px;
    height: 136px;
    left: 39.95px;
    top: 458px;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 58px;
    color: white;
}

.textHeader {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    justify-content: center;
    align-items: center;
}

.header{
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 7%;
    width: fit-content;
    margin-bottom: 10%;
    background: #0E389C;
}

.textContainer{
    margin: auto;
    margin-top: 3%;
    text-align: justify;
    display: flex;
    width: 50%;
    height: 50%;
}

.blueContainer{
    margin: auto;
    margin-top: 3%;
    text-align: justify;
    display: flex;
    width: 50%;
    height: 50%;
}

.text{
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: justified;
}