@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;700&display=swap');

* {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}

.jogos {
	background-color: #0E389C;
	width: 100%;
	margin: 0;
}

.container {
	display: grid;
	place-items: center;
	width: 100%;
}

.top{
	background-color: #FFD200; ;
	border-radius: 25px 25px 0px 0px;
	text-align: center;
	width: 65%;
	justify-content: center;

}

.bottom{
	background-color: #079A5A; ;
	border-radius:  0px 0px 25px 25px;
	text-align: center;
	width: 65%;
	margin-bottom: 50px;
	font-size: 2rem;
}

h3{
	font-weight: 700;
	color: white;
}

img{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 15px;
	margin-right: 15px;
}

.bottom p{
	margin-bottom: 4px;
}
@media (max-width: 575.98px) {
	img{
		
		margin-left: 0px;
		margin-right: 0px;
		
	}
}